<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>TOEIC900master</title>
  <!--link rel="stylesheet" href="mystyles.css"-->
  <!-- Bootstrap -->
  <link href="practice/styles.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>




<body>

<% current_question = Question.find(rand(Question.count) + 1) %>

<header>
  <div style="margin: 0 0 1.5em;
      padding: 0.8em;
      border: 2px solid coral;
      font-size: 1.143em;
      font-weight: bold;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;">

  <h1>問題</h1>
  <%= current_question.sentence %>
  </div>
</header>

<p>
  <form action="practice/judge" method="get">
<p>
<div style="display: block;
    float: left;
    cursor: pointer;
    width: 300px;
    margin: 0;
    padding: 10px;
    background: navajowhite;
    color: black;
    font-size: 16px;
    text-align: left;
    line-height: 1;
    transition: .2s;">
  <% current_question.choices.shuffle.each do|choice| %>
  <label><input type="radio" name="choice" value="<%= choice.id %>" checked><%= choice.sub_sentence %></label>
  <br>
<% end %></div></p>

<br><br><br><br>


    <p>
      <div>
      <input id="submit_button" type="submit"  value="決定する">
      </div>
    </p>

</form>


<script type="text/javascript">
  //setTimeout('alert("時間切れです");  location.href = "/practice/timeout?question=<%= current_question.id %> ";',5000);


</script>


<br>
<br>
<br>
<br>
<br>
<footer></footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="practice/js/bootstrap.min.js"></script>
</body>
</html>
