<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf8">
  <title>TOEIC900master</title>
  <link rel="stylesheet" href="/practice/styles.css">
</head>

<body>
<% current_question = Question.find(rand(Question.count) + 1) %>

<header>
  <div style="margin: 0 0 1.5em;
      padding: 0.8em;
      border: 2px solid coral;
      font-size: 1.143em;
      font-weight: bold;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;">
  <% current_question = Question.find(@question_id) %>

  <h1>問題</h1>
  <%= current_question.sentence %>
      </div>
</header>

<p>
  <form action="practice/judge" method="get">
<p>
  <div style="display: block;
      float: left;
      cursor: pointer;
      width: 200px;
      margin: 0;
      padding: 10px;
      background: navajowhite;
      color: black;
      font-size: 16px;
      text-align: left;
      line-height: 1;
      transition: .2s;">
  <% current_question.choices.shuffle.each do|choice| %>
      <label><input type="radio" name="choice" value="<%= choice.id %>" checked><%= choice.sub_sentence %></label>
      <br>
  <% end %>
</div>
</p>

</form><br><br><br><br><br>



  <p>
  <div>
<a href= "/practice" ><input id="submit_button" type="submit" name="submit" value="次の問題へ"></div></a>
</div>
</p>

<br>
<br>
<br>
<br>
<br>
<footer></footer>
</body>
</html>