<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf8">
  <title>TOEIC900master</title>
  <link rel="stylesheet" href="/practice/styles.css">
</head>

<body>

<header>
  <div style="margin: 0 0 1.5em;
      padding: 0.8em;
      border: 2px solid coral;
      font-size: 1.143em;
      font-weight: bold;
      border-radius: 10px;
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;">
  <h1>解説</h1>
  <% current_question = Question.find(@question_id) %>
  <%= current_question.explanation %>
  </div>
</header>




  <p>
  <div>
<a href= "/practice" ><input id="submit_button" type="submit" name="submit" value="次の問題へ"></div></a>
</div>
</p>

<br>
<br>
<br>
<br>
<br>
<footer></footer>
</body>
</html>