<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf8">
  <title>TOEIC900master</title>
  <link rel="stylesheet" href="mystyles.css">

</head>

<body>
<% current_question = Question.find(rand(Question.count) + 1) %>

<header>

  <% current_question = Question.find(@question_id) %>

  <h1>問題</h1>
  <%= current_question.sentence %>
</header>

<p>
  <form action="practice/judge" method="get">
<p>
  <% current_question.choices.shuffle.each do|choice| %>
      <label><input type="radio" name="choice" value="<%= choice.id %>" checked><%= choice.sub_sentence %></label>
      <br>
  <% end %></p>

</form>



<a href= "/practice" >次の問題へ</a>



<br>
<br>
<br>
<br>
<br>
<footer></footer>
</body>
</html>